@use '../abstracts'as *;
.footer{
  background-color: $light-yellow;
  padding: 4rem 0;
  &__row{
    @include grid(25rem);
    gap: 1.5rem;
  }
  &__title{
    color: $black;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__link{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: $gray;
    i{
      padding-right: .5rem;
      color: $black;
    }
    &:hover{
      i{
        padding-right: 1rem;
      }
    }
  }
  &__copyright{
    border-top: $border;
    text-align: center;
    font-size: 1.6rem;
    padding: 2rem 0;
    margin-top: 2rem;
  }
}